/* // Conponent ************************************************************ */
.container {
  display: flex;
  /* // border: 1px solid black; */
  align-items: center;
  margin: 30px 50px;
  /* // jestify-content: center; */
}

.search {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 7px;
  height: 60px;
  width: 400px;
  background-color: white;
  border-radius: 100px;
  padding-right: 20px;
  box-shadow: 0px 0px 5px grey;
}

.searchIcon {
  margin-top: 3px;
  padding-left: 20px;
}

.searchField {
  padding-left: 10px;
  height: 100%;
  width: 100%;
  background-color: white;
  font-size: 18px;
  color: black;
  font-weight: bold;
  border: none;
}

.searchField:focus {
  outline: none;
}

.clearChat {
  height: 50px;
  padding: 17px 20px;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0px 0px 5px grey;
  margin-left: auto;
  margin-right: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.more {
    background-color: white;
    border-radius: 100px;
    box-shadow: 0px 0px 5px grey;
}

.dropTriger{
    height: 50px;
    padding: 17px 30px;
    display: flex;
  align-items: center;
}

.more:hover .dropBox{
    display: block;
    /* position: absolute; */
}

.dropBox {
  padding: 0px;
  position: absolute;
  /* border: 2px solid black; */
  margin-top: -5px;
  /* text-align: center; */
  right: 25px;
  display: none;
}

.dropBox ul{
    width: 150px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    list-style: none;
    text-align: left;
    padding: 0px;
    padding: 10px 2px;
}

.dropBoxItem{
    text-align: center;
    /* border-bottom: 1px solid black; */
    display: block;
    width: 100%;
    padding: 10px;
}

.dropBoxItem:hover{
    background-color: rgb(231, 227, 227);
    border-radius: 3px;
}
