.container{
    margin: 4vh 2.5%;
    height: 80vh;
    display: flex
}

.contact{
    height: 80vh;
    width: 22%;
    background: white;
    height: 80vh;
    padding: .9vw .5vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px grey;
    margin-right: 2%;
}

.contactList{
    overflow: auto;
    height: 72vh;
    box-sizing: border-box;
    margin: .4vw -6px;
    padding: 0 10px;
    /* border-radius: 20px; */
    z-index: 10;
}

.profile::-webkit-scrollbar, .messageArea::-webkit-scrollbar, .contactList::-webkit-scrollbar {
    width: 4px;
}

.profile::-webkit-scrollbar-track, .messageArea::-webkit-scrollbar-track, .contactList::-webkit-scrollbar-track {
    margin: 20px 0px;
    border-radius: 100px;
    background-color: rgba(128, 0, 128, 0.055);
}

.profile::-webkit-scrollbar-thumb, .messageArea::-webkit-scrollbar-thumb, .contactList::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 100px;
}

.message{
    height: 80vh;
    /* // border: 1px solid black; */
    min-width: 51%;
    width: 76%;
    /* margin: 0px 2%; */
    /* padding: 20px; */
    background: white;
    border-radius: 1vw;
    box-shadow: 0px 0px .5vw grey;
    transition: 2s;
    transition: ease-in-out;
}

.messageArea{
    width: 100%;
    height: 80%;
    padding: 0 .6vw;
    overflow: auto;
    /* border: 1px solid black; */
    /* display: flex; */
}

.sendArea{
    /* padding: 5px 0 0 0; */
}

.profile{
    height: 80vh;
    /* // border: 1px solid black; */
    width: 23%;
    padding: .5vw .5vw 0 .5vw;
    background: white;
    border-radius: 1vw;
    box-shadow: 0px 0px .5vw grey;
    overflow: auto;
    margin-left: 2%;
}

.messageContinerHeader {
    height: 3vw;
    width: 100%;
    box-sizing: border-box;
    /* color: white; */
    border-radius: 1vw;
    /* padding: 20px; */
    /* margin: -20px -20px 0px -20px; */
    background: white;
    border-bottom: .2vw solid #54396d;
    /* box-shadow: 0 0 10px grey; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageContinerHeader:hover {
    border: none;
    box-shadow: 0 0 .25vw #54396d;
}

.contactProfile {
    margin: 0 auto 0 1.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.contactProfile img {
    border-radius: 100%;
    overflow: hidden;
    margin-right: 1vw;
    box-shadow: 0 0 .25vw grey;
    height: 2.1vw;
    width: 2.1vw;
}

.messageSearchAndMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1vw 0 0;
}

.messageSearch {
    padding: .25vw;
    margin-right: .5vw;
}

.messageMenu {
    padding: .25vw;
}