.messageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky; */
    margin-top: .5vw;
    position: sticky;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
}

.messageSend{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1vw solid black;
    border-radius: 100vh;
    height: 3.2vw;
    width: 28vw;
    padding: 0 1vw;
    background: rgba(102, 51, 153, 0.13);
    /* width: 80%; */
}


.text{
    height: 40px;
    font-size: 19px;
    background: none;
    border: none;
    font-weight: bold;
    color: black;
    margin: 0 .75vw;
    width: 20vw;
}

.text:focus{
    outline: none;
}

.pinFile{
    margin-top: .15vw;
}

.pinFile img {
    height: 1.8vw;
    width: 1.8vw;
}

.sendBtn{
    height: 3.5vw;
    width: 3.5vw;
    background: orange;
    border-radius: 100px;
    padding: .1vw .1vw 0 0;
    margin: 0 0 0 1vw;
    box-shadow: 0 0 .5vw rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendBtn:hover{
    background: oldlace;
    border: .15vw solid orange;
    box-shadow: 0 0 .75vw rebeccapurple;
}

.sendBtn img {
    height: 2vw;
    width: 2vw;
}

.emoji{
    margin-top: .1vw;
    /* display: flex; */
}

.emoji img {
    height: 1.8vw;
    width: 1.8vw;
}

.emojiPicker{
    /* display: none; */
    position: absolute;
    /* margin: 0 0 100px 0; */
    bottom: 3.5vw;
}