.container{
    padding: 1vw 0 0 0;
}

.avatarContainer{
    margin: 0 auto;
    width: 5.2vw;
    height: 5.2vw;
    display: flex;
    flex-direction: column-reverse;
}

.avatarImgCon{
    box-shadow: 0 0 .75vw grey;
    border-radius: 100vw;
}

.avatarImg{
    border-radius: 100vw;
}

.editAvatar{
    z-index: 30;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rebeccapurple;
    box-shadow: 0 0 10px grey;
    color: white;
    position: relative;
    border: 2px solid white;
    top: 95px;
    left: 69px;
    display: none;
}

.nameContainer{
    margin-top: .7vw;
}

.name{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.communicationWaysContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}

.commBtnContiner{
    margin: .25vw .75vw;
}

.commBtn{
    background: rgb(231, 231, 231);
    padding: .48vw;
    border-radius: 100vw;
    /* border: 2px solid white; */
    /* box-shadow: 0 0 10px grey; */

}

.commBtn:hover{
    background: white;
    box-shadow: 0 0 .5vw grey;
}

.lineBreak{
    height: .15vw;
    background: grey;
    margin: .75vw 4.25vw;
    border-radius: .5vw;
}

.infoContainer{
    margin-top: -.65vw;
    padding: 0px 1.25vw;
    display: flex;
}

.infoKeys{
    color: gray;
    font-weight: bold;
}

.key{
    display: flex;
    align-items: center;
    margin: .75vw 0;
}

.keyIcon{

}

.keyText{
    margin: 0 0 0 .6vw;
}

.infoValues{
    color: black;
    margin: 0 0 0 1.15vw;
}

.value{
    margin: .75vw 0;
}

.tagValues{
    display: flex;
    flex-wrap: wrap;
    margin-left: -.4vw;
}

.tag{
    background: rgb(212, 212, 212);
    margin: -.1vw .4vw .75vw .4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1vw .35vw;
    border-radius: 100px;
}

.tag:hover {
    background: white;
    box-shadow: 0 0 .4vw grey;
    cursor: pointer;
}

.tagDot{
    width: .6vw;
    height: .6vw;
    background: rgb(9, 177, 135);
    border-radius: 100px;
}

.tagName{
    margin: 0 .2vw ;
}

.commentLineBreak{
    height: .15vw;
    background: grey;
    margin: -.55vw 4.25vw .75vw 4.25vw;
    border-radius: .5vw;
}

.commentContainer{

}

.commentBox{
    margin: .65vw 1.25vw;
    padding: .25vw;
    /* border: 2px solid grey; */
    border-radius: .5vw;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 0 .25vw grey;
}

.commentAvatar{
    width: 2.5vw;
    height: 2.5vw;
    margin-top: .25vw;
}

.commentAvatar img{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 100px;
    box-shadow: 0 0 .25vw grey;
}

.commentContent{
    margin: 0 0 0 .5vw;
}

.commentHead {
    display: flex;
    color: grey;
}

.commentName {
    font-weight: bold;
    font-size: large;
}

.commentTime{
    margin: 0 .5vw 0 1vw;
    font-size: small;
    float: right;
    font-weight: 700;
}

.commentBody{
    color: black;
    font-weight: 500;
}

.paragraphOverFlow{
    color: rgb(9, 177, 135);
    font-size: smaller;
}

.sendCommentContainer {
    position: sticky;
    bottom: 0;
    background: white;
    padding: .35vw 0;
}

.sendCommentBox{
    margin: 0 1.25vw;
    border: .1vw solid grey;
    border-radius: .5vw;
    background: white;
    padding: .7vw;
    /* box-shadow: 0 0 10px grey; */
    /* margin-top: 100px; */
}

.commentInput{
    margin: 0 0 0 .25vw;
}

.commentInput input{
    /* border: 1px solid black; */
    font-size: large;
    width: 16.75vw;
    font-weight: 500;
}

.commentInput input:focus {
    outline: none;
}

.functionlity {
    display: flex;
    justify-content: space-between;
    margin-top: .5vw;
}

.btnBox {
    color: grey;
    border-radius: 100px;
    padding: .25vw;
}

.btnBox:hover {
    box-shadow: 0 0 .5vw grey;
    color: black;
}


.commentSend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5.5vw;
    background: white;
    color: grey;
    border-radius: 100px;
    padding: .25vw;
    width: 2.5vw;
}

.commentSend:hover {
    box-shadow: 0 0 .5vw grey;
    color: black;
}